@using MySite.BL.Implementations;
<!DOCTYPE html>


<html style="font-size: 16px;" lang="ua"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords"  content="Sample Long Headline To Change With Your Text, Sample Headline, Coaching Services, INTUITIVE, basic">
    <meta name="description" content="">
    <title>Main</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
<link rel="stylesheet" href="~/css/Main.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.5.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    

    <script type="application/ld+json">{
		"context": "http://schema.org",
		"type": "Organization",
		"name": "",
        "logo": "~/images/logo1.png",
		"sameAs": [
				"https://facebook.com/name",
				"https://twitter.com/_Everjoi?t=hL2r9RI35TOLba-V_jisBA&s=35",
				"https://www.instagram.com/toha_koshuk/"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta name="twitter:site" content=" ">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Main">
    <meta name="twitter:description" content="">
    <meta property="og:title" content="Main">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-home-page="/home/index" data-home-page-title="Main" class="u-body u-xl-mode" data-lang="ua"><header class="u-clearfix u-grey-60 u-header u-sticky u-sticky-6e91" id="sec-7858" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1">
        <a href="/home/index" class="u-align-left u-image u-logo u-image-1" data-image-width="1200" data-image-height="1200">
          <img src="~/images/logo1.png" class="u-logo-image u-logo-image-1">
        </a>
        <h1 class="u-align-center u-text u-text-palette-5-dark-1 u-title u-text-1"><span class="u-file-icon u-icon u-text-palette-5-light-2"><img src="~/images/831337-1fd539ba.png" alt=""></span>&nbsp;B​​IG DREAM HUB 
        </h1>
       

      
        <nav class="u-align-right u-menu u-menu-hamburger u-menu-open-right u-offcanvas u-menu-1" data-responsive-from="XL">
        
            <div class="menu-collapse" style="font-size: 1rem;">
            <a class="u-button-style u-nav-link" href="#" style="padding: 7px 8px; font-size: calc(1em + 14px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8a8f"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-8a8f" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
              
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/home" style="padding: 10px 20px;">Main</a>
            </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/song" style="padding: 10px 20px;">Songs</a>
            </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/about" style="padding: 10px 35px 10px 20px;">Contacts</a>
            </li></ul>
            
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-90 u-sidenav u-sidenav-1" data-offcanvas-width="213.75">
              <div class="u-inner-container-layout u-sidenav-overflow" style="padding: 15px 0px 0px;">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-custom-font u-font-courier-new u-nav u-popupmenu-items u-spacing-26 u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/home/index">Main</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="/song/songs">Songs</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/contact/contacts">Contacts</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-75"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-carousel u-slide u-block-476a-1" id="carousel_419f" data-interval="5000" data-u-ride="carousel">
      <ol class="u-absolute-hcenter u-carousel-indicators u-block-476a-2">
        <li data-u-target="#carousel_419f" class="u-active u-grey-30" data-u-slide-to="0"></li>
        <li data-u-target="#carousel_419f" class="u-grey-30" data-u-slide-to="1"></li>
      </ol>
      <div class="u-carousel-inner" role="listbox">
        <div class="u-active u-align-center u-carousel-item u-clearfix u-image u-shading u-section-1-1" src="" data-image-width="564" data-image-height="548">
          <div class="u-clearfix u-sheet u-sheet-1">
            <h5 class="u-align-center u-text u-text-1">Big dream hub</h5>
            <h1 class="u-align-center u-text u-text-body-alt-color u-text-default u-title u-text-2"> Music search ​engine.&nbsp;</h1>
          </div>
            </div>
        <div class="u-align-center u-carousel-item u-clearfix u-image u-shading u-section-1-2" src="" data-image-width="236" data-image-height="314">
          <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-title u-text-1"> Find a song to your taste</h1>
            <h6 class="u-align-center u-text u-text-default u-text-2"> a lot of songs</h6>
            <a href="/song/songs" class="u-align-center u-btn u-button-style u-palette-2-base u-btn-1"> search</a>
          </div>
        </div>
      </div>
      <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-grey-30 u-block-476a-3" href="#carousel_419f" role="button" data-u-slide="prev">
        <span aria-hidden="true">
          <svg class="u-svg-link" viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-grey-30 u-block-476a-4" href="#carousel_419f" role="button" data-u-slide="next">
        <span aria-hidden="true">
          <svg class="u-svg-link" viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
        </span>
        <span class="sr-only">Наступний</span>
      </a>
    </section> 
    <section class="u-align-center u-clearfix u-image u-shading u-section-2" id="carousel_5be6" data-image-width="236" data-image-height="419">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <h1 class="u-text u-text-palette-4-base u-text-1">music</h1>
        <p class="u-align-center u-text u-text-custom-color-2 u-text-2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;​Music is an art form that has been a part of human culture for thousands of years. It is a universal language that can evoke powerful emotions and connect people from different cultures and backgrounds. Music can take many forms, including vocal or instrumental, acoustic or electronic, and classical or contemporary.<br>
          <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Throughout history, music has played a vital role in many cultures, serving various purposes, such as entertainment, religious worship, and storytelling. It has been used to celebrate, to mourn, to inspire, to protest, and to express human emotions and experiences.Music is created using a wide range of instruments, from traditional acoustic instruments like the piano, guitar, and violin to modern electronic instruments like synthesizers and drum machines. In addition to instruments, music often features vocals, harmonies, and complex arrangements of sounds and rhythms.Different genres of music have emerged over time, reflecting the cultural and historical context in which they were created.&nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; For example, classical music originated in Europe during the Middle Ages and Renaissance periods, and it is characterized by complex compositions, rich harmonies, and the use of traditional instruments like the orchestra.&nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; On the other hand, contemporary music encompasses a wide variety of styles, including rock, pop, hip-hop, electronic, and more, and is often associated with popular culture. 
        </p>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-shading u-section-3" src="" id="sec-2a5e" data-image-width="736" data-image-height="736">
        <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-title u-text-1">ABOUT ME</h1>
        <p class="u-large-text u-text u-text-default u-text-variant u-text-2">Short. Future millionaire</p>
        <p class="u-align-center u-text u-text-default u-text-3">PS:&nbsp;I am not a designer. Only backend :)</p>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-528b"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-social-icons u-spacing-30 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href="https://facebook.com/name"><span class="u-icon u-icon-circle u-social-facebook u-social-icon u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 96.124 96.123" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f954"></use></svg><svg class="u-svg-content" viewBox="0 0 96.124 96.123" x="0px" y="0px" id="svg-f954" style="enable-background:new 0 0 96.124 96.123;"><g><path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803   c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654   c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246   c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"></path>
</g></svg></span>
          </a>
          <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/_Everjoi?t=hL2r9RI35TOLba-V_jisBA&amp;s=35"><span class="u-icon u-icon-circle u-social-icon u-social-twitter u-text-white u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="-21 -81 681.33464 681" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-94f6"></use></svg><svg class="u-svg-content" viewBox="-21 -81 681.33464 681" id="svg-94f6"><path d="m200.964844 515.292969c241.050781 0 372.871094-199.703125 372.871094-372.871094 0-5.671875-.117188-11.320313-.371094-16.9375 25.585937-18.5 47.824218-41.585937 65.371094-67.863281-23.480469 10.441406-48.753907 17.460937-75.257813 20.636718 27.054687-16.230468 47.828125-41.894531 57.625-72.488281-25.320313 15.011719-53.363281 25.917969-83.214844 31.808594-23.914062-25.472656-57.964843-41.402344-95.664062-41.402344-72.367188 0-131.058594 58.6875-131.058594 131.03125 0 10.289063 1.152344 20.289063 3.398437 29.882813-108.917968-5.480469-205.503906-57.625-270.132812-136.921875-11.25 19.363281-17.742188 41.863281-17.742188 65.871093 0 45.460938 23.136719 85.605469 58.316407 109.082032-21.5-.660156-41.695313-6.5625-59.351563-16.386719-.019531.550781-.019531 1.085937-.019531 1.671875 0 63.46875 45.171875 116.460938 105.144531 128.46875-11.015625 2.996094-22.605468 4.609375-34.558594 4.609375-8.429687 0-16.648437-.828125-24.632812-2.363281 16.683594 52.070312 65.066406 89.960937 122.425781 91.023437-44.855469 35.15625-101.359375 56.097657-162.769531 56.097657-10.5625 0-21.003906-.605469-31.2617188-1.816407 57.9999998 37.175781 126.8710938 58.871094 200.8867188 58.871094"></path></svg></span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href="https://www.instagram.com/toha_koshuk/"><span class="u-icon u-icon-circle u-social-icon u-social-instagram u-text-white u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3a7b"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-3a7b" style="enable-background:new 0 0 512 512;"><g><path d="M256,152c-57.9,0-105,47.1-105,105s47.1,105,105,105s105-47.1,105-105S313.9,152,256,152z M256,152   c-57.9,0-105,47.1-105,105s47.1,105,105,105s105-47.1,105-105S313.9,152,256,152z M437,0H75C33.6,0,0,33.6,0,75v362   c0,41.4,33.6,75,75,75h362c41.4,0,75-33.6,75-75V75C512,33.6,478.4,0,437,0z M256,392c-74.399,0-135-60.601-135-135   c0-74.401,60.601-135,135-135s135,60.599,135,135C391,331.399,330.399,392,256,392z M421,122c-16.5,0-30-13.5-30-30s13.5-30,30-30   s30,13.5,30,30S437.5,122,421,122z M256,152c-57.9,0-105,47.1-105,105s47.1,105,105,105s105-47.1,105-105S313.9,152,256,152z    M256,152c-57.9,0-105,47.1-105,105s47.1,105,105,105s105-47.1,105-105S313.9,152,256,152z M256,152c-57.9,0-105,47.1-105,105   s47.1,105,105,105s105-47.1,105-105S313.9,152,256,152z"></path>
</g></svg></span>
          </a>
            </div>                                                                                                   
            <p class="u-small-text u-text u-text-variant u-text-1"><span class="u-file-icon u-icon u-text-white"><img src="~/images/9802498-6b088ab2.png" alt=""></span>&nbsp; © 2023 Big Dream Hub.All Rights Reserved 
        </p>

        <h6>!!!You can Add and remove songs manualy. Just enter "/admin" in URL line.</h6>

      </div></footer>  
  
</body></html>