

<form>
    <button type="button" onclick="window.location.href='/admin/add'">Add</button>
    <button type="button" onclick="window.location.href='/admin/remove'">Remove</button>
    <button type="button" onclick="window.location.href='/home/index'">Home</button>
</form>
